In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    "height" : [6.0,6.2,5.6,5.8,5.9,5.11,6.0,5.5,
               4.7,4.2,5.2,5.1,5.9,5.7,5.3,4.9],
    "weight" : [86,85,67,70,73,71,78,69,49,47,50,49,53,60,56,55],
    "gender" : ["male","male","male","male","male","male","male","male",
               "female","female","female","female","female","female","female","female",]
}

In [3]:
df = pd.DataFrame(data)

In [5]:
df.head()

   height  weight gender
0     6.0      86   male
1     6.2      85   male
2     5.6      67   male
3     5.8      70   male
4     5.9      73   male

In [6]:
total_obs = df['gender'].count()

In [7]:
total_obs

16

In [11]:
male_count = df['gender'][df['gender'] == "male"].count()

In [12]:
male_count

8

In [13]:
female_count = df['gender'][df['gender'] == "female"].count()

In [14]:
female_count

8

In [19]:
prob_male = male_count / total_obs
prob_female = female_count / total_obs

In [20]:
prob_male,prob_female

(0.5, 0.5)

In [25]:
mean = df.groupby('gender').mean()

In [26]:
mean

         height  weight
gender
female  5.12500  52.375
male    5.76375  74.875

In [27]:
var = df.groupby('gender').var()

In [28]:
var

          height     weight
gender
female  0.293571  19.410714
male    0.120798  53.553571

In [29]:
male_mean_height = mean['height'][1]
male_mean_weight = mean['weight'][1]

male_var_height = var['height'][1]
male_var_weight = var['weight'][1]

female_mean_height = mean['height'][0]
female_mean_weight = mean['weight'][0]

female_var_height = var['height'][0]
female_var_weight = var['weight'][0]

In [30]:
def p_x_given_y(obs,mean,var):
    return (1 / (np.sqrt(2 * np.pi * var))) * (np.exp(- ((obs - mean) ** 2)) / (2 * var))

In [37]:
newInput = [6.1,75]
p_h, p_w = newInput

In [41]:
male_p = p_x_given_y(p_h,male_mean_height,male_var_height) * p_x_given_y(p_w,male_mean_weight,male_var_weight) * prob_male

In [42]:
female_p = p_x_given_y(p_h,female_mean_height,female_var_height) * p_x_given_y(p_w,female_mean_weight,female_var_weight) * prob_female

In [43]:
male_p > female_p

True