In [1]:
# Beautiful Soup
import bs4
import urllib.request as url

In [2]:
path = "http://stats.espncricinfo.com/ci/content/records/223646.html"
http_res = url.urlopen(path)

In [3]:
http_res

In [4]:
page = bs4.BeautifulSoup(http_res)

In [34]:
table = page.find('table',class_='engineTable')

In [35]:
table.text.split("\n\n\n")[3].split('\n')

['RT Ponting (AUS)',
 '1995-2012',
 '168',
 '287',
 '29',
 '13378',
 '257',
 '51.85',
 '41',
 '62',
 '17']

In [36]:
table = table.text.split("\n\n\n")

In [37]:
del table[0]

In [38]:
for i in range(len(table)):
    table[i] = table[i].split("\n")

In [39]:
del table[1][0]

In [40]:
del table[1][0]

In [52]:
col_names = table[0]
del table[0]

In [53]:
import pandas as pd

In [54]:
df = pd.DataFrame(table)

In [55]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,SR Tendulkar (INDIA),1989-2013,200,329,33,15921,248*,53.78,51,68,14
1,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,41,62,17
2,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,45,58,16
3,R Dravid (ICC/INDIA),1996-2012,164,286,32,13288,270,52.31,36,63,8
4,AN Cook (ENG),2006-2018,161,291,16,12472,294,45.35,33,57,9

In [56]:
df.columns = col_names

In [57]:
df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,100,50,0
0,SR Tendulkar (INDIA),1989-2013,200,329,33,15921,248*,53.78,51,68,14
1,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,41,62,17
2,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,45,58,16
3,R Dravid (ICC/INDIA),1996-2012,164,286,32,13288,270,52.31,36,63,8
4,AN Cook (ENG),2006-2018,161,291,16,12472,294,45.35,33,57,9