In [1]:
import bs4
import urllib.request as url

In [2]:
path = "https://www.flipkart.com/search?q=smart+watches&sid=ajy%2Cbuh&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_0_5_na_na_pr&otracker1=AS_QueryStore_OrganicAutoSuggest_0_5_na_na_pr&as-pos=0&as-type=HISTORY&suggestionId=smart+watches%7Cin+Smart+Watches&requestId=83e7bd2e-9c7d-4dcc-b62d-b78ded5f7c1a"

In [3]:
# url.urlopen(path) -> http req -> http res
res = url.urlopen(path)

In [4]:
res

In [5]:
page = bs4.BeautifulSoup(res)

In [7]:
div = page.find('div',class_='_3wU53n')

In [9]:
div.text

'Lioncrown Bluetooth Fitness Smart Watch Phone Black Smartwatch'

In [10]:
rating = page.find('div',class_='hGSR34')

In [11]:
rating.text

'3.5'

In [12]:
price = page.find('div',class_='_1vC4OE _2rQ-NK')

In [13]:
price.text

'₹740'

In [14]:
titles = page.find_all('div',class_='_3wU53n')
ratings = page.find_all('div',class_='hGSR34')
prices = page.find_all('div',class_='_1vC4OE _2rQ-NK')

In [18]:
for i in range(len(titles)):
    print("Title :", titles[i].text)
    print("Rating :",ratings[i].text)
    print("Price :",prices[i].text)
    print("========================")

Title : Lioncrown Bluetooth Fitness Smart Watch Phone Black Smartwatch
Rating : 3.5
Price : ₹740
========================
Title : Lioncrown Bluetooth, Camera, SIM Call Support White Smartwatch
Rating : 3.2
Price : ₹1,150
========================
Title : Noise ColorFit Pro 2 Jet Black Smartwatch
Rating : 4
Price : ₹3,199
========================
Title : JM V8 MOBILE phone Smartwatch
Rating : 3.6
Price : ₹699
========================
Title : HEALTHIN -GD phone Gold Smartwatch
Rating : 3.4
Price : ₹558
========================
Title : Samsung Galaxy Watch 46 mm Silver Smartwatch
Rating : 4.6
Price : ₹21,990
========================
Title : Huami Amazfit Bip Lite Smartwatch
Rating : 4.1
Price : ₹3,499
========================
Title : Fitbit Versa Smartwatch
Rating : 4.2
Price : ₹12,999
========================
Title : E-LIVE DZ09 4g calling health notifier Gold and Black Smartwatch
Rating : 3.5
Price : ₹585
========================
Title : Huami Amazfit GTR 47 mm Aluminium Alloy Smartwatch
Rating : 4.4
Price : ₹10,999
========================
Title : Gionee Smart Life Smartwatch
Rating : 3.8
Price : ₹2,999
========================
Title : MOBILE LINK DZ09 Notifier Silver Smartwatch
Rating : 3.3
Price : ₹599
========================
Title : Apple Watch Series 3 GPS - 42 mm Space Grey Aluminium Case with Black Sport Band
Rating : 4.7
Price : ₹23,900
========================
Title : Lioncrown Bluetooth, Camera, SIM Call Support Black Smartwatch
Rating : 3.2
Price : ₹1,095
========================
Title : ALONZO Dz09 New phone Black Smartwatch
Rating : 3.4
Price : ₹579
========================
Title : Duston 4G Mobiles smart watch V8 Black Smartwatch
Rating : 4.8
Price : ₹799
========================
Title : Shape n Style A1 Smart Watch Smartwatch
Rating : 3.4
Price : ₹617
========================
Title : Enew DZ09-BLACK FC007-1SMW phone Black Smartwatch
Rating : 3.4
Price : ₹591
========================
Title : Goosprey GSPRYDZ09-33 phone White Smartwatch
Rating : 3.7
Price : ₹999
========================
Title : Fliptic DZ09 Smartwatch
Rating : 3.8
Price : ₹599
========================
Title : SYL SW-598 phone Smartwatch
Rating : 3.6
Price : ₹588
========================
Title : Noise Colorfit Pro Smartwatch
Rating : 2.8
Price : ₹2,499
========================
Title : Cyxus 4G Android 4G calling Smart mobile watch Smartwatch
Rating : 3.7
Price : ₹628
========================
Title : Lioncrown SMARTWATCH Black Smartwatch
Rating : 5
Price : ₹840
========================

In [21]:
data = {"titles":[],"ratings":[],"prices":[]}
for i in range(len(titles)):
    data["titles"].append(titles[i].text)
    data["ratings"].append(float(ratings[i].text))
    data["prices"].append(prices[i].text)

In [23]:
import pandas as pd

In [24]:
df = pd.DataFrame(data)

In [29]:
df.head()

                                              titles  ratings  prices
0  Lioncrown Bluetooth Fitness Smart Watch Phone ...      3.5    ₹740
1  Lioncrown Bluetooth, Camera, SIM Call Support ...      3.2  ₹1,150
2          Noise ColorFit Pro 2 Jet Black Smartwatch      4.0  ₹3,199
3                      JM V8 MOBILE phone Smartwatch      3.6    ₹699
4                 HEALTHIN -GD phone Gold Smartwatch      3.4    ₹558

In [27]:
max(df['ratings'])

5.0

In [28]:
df[df['ratings'] == 5.0]

                                   titles  ratings prices
23  Lioncrown SMARTWATCH Black Smartwatch      5.0   ₹840